/** style sheet for personal website **/

/** To-do list
Todo
		Completed

		Padding and border added to at least one element
		Margin added to at least one element
		At least one centered element (a footer message can be nice for this)
		A background image on at least one element
		A different font on at least one element
		A few elements styled using a class
		A different color for visited links
		An element styled with an ID
		Add media query
**/

body {
  background-color: #C0C0C0;
  text-align: center;
}

ul {
	font-size:15px;
}

#background-image {
	background-image: url("public/assets/background.jpg");
	background-repeat: no-repeat;

}

#container {
  border: 20px;
  border-radius : 10px;
  padding: 10px;
  background-color: #ccffcc;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
}

 .navbar {
 	font-family: Helvetica;
 	background-color: #7575a3;
 	color: white;
 	font-size: 1.3em;
 	position: fixed;
 	width: 100%;
 	top: 0px;
  right: 0px;
  text-align: center;
 }

.navselect {
	padding-right: 15px;
	padding-left: 15px;
	border-right: 3px solid black;
}

.navselect:last-of-type {
  border-right: none;
}

h1 {
	margin-top: 25px;
}

div p {
	margin-left: 10%;
	margin-right: 10%;
	border: 25px;
	border-radius: 5px;
	padding: 10px;
	background-color: #99c2ff;

}

div ul {
	margin-left: 10%;
	margin-right: 10%;
	border: 25px;
}

#responsive-img {
	border-radius: 10px;
	width: 30%;
  height: 30%;
}

@media screen and (max-width: 768px) {
  body {
  	font-size: 1.2em;
  }
}
