<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>My Portfolio Blog</title>
    <%= stylesheet_link_tag "main" %>
  </head>
  <body>
    <main role="main" class="container">
      <%= partial "partials/nav" %>
      <div>
        <section class="post-container">
          <%= yield %>
        </section>
      </div>
      <%= partial "partials/footer" %>
    </main>
  </body>
</html>


